.root{
    -fx-background-color: black;
    -fx-text-fill: #00ff00;
}
.menu-item .label {
    -fx-text-fill: #00ff00;
}

.menu-item:focused {
    -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: #00ff00;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}
.popBox {
    -fx-border-color: white;
    -fx-border-style: solid;
}
.Label {
    -fx-text-fill: #00ff00;

}
.button{
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
.button:hover{
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.myDialog{
    -fx-background-color: black;

}
.myDialog > *.button-bar > *.container{
    -fx-background-color: black;
}
.myDialog > *.label.content{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.myDialog:header *.header-panel{
    -fx-background-color: black;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-family: Consolas;
    -fx-text-fill: #00ff00;
}
.myDialog > *.label.content{
     -fx-font-size: 18px;
     -fx-text-fill: #00ff00;
    -fx-font-family: Consolas;
 }

.tab-header-background{
    -fx-background-color: black;
}
.text-area{
    -fx-control-inner-background:#000000;
    -fx-font-family: Consolas;
    -fx-highlight-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: #00ff00;
    -fx-focus-color: transparent; -fx-text-box-border: transparent;
}
.text-area:focused{
    -fx-faint-focus-color: transparent;
}


.text-area .content{
    -fx-background-color: black;
}
.green-style {
    -fx-control-inner-background: #000000;
    -fx-font-family: Consolas;
    -fx-highlight-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: #00ff00;
}
.jfx-tab-pane .tab-selected-line{
    -fx-border-color: #00ff00;
}
.combo-box{
    -fx-control-inner-background: #000000;
    -fx-font-family: Consolas;
    -fx-highlight-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: #00ff00;
}
.TimerLabel{
    -fx-text-fill: #00ff00;
}
#textIn{
    -fx-fill: #00ff00;
    -fx-font-size:14px;
}




